<!DOCTYPE html>
<html lang="de">
  <head>
      <link rel="stylesheet" href="styles.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zeiterfassung</title>
  </head>
  <form action="" method="POST" autocomplete="on">
<input id="tbxBeschreibung" name="text" placeholder="Neue Tätigkeit...">
<button id="btnAnlegen">...beginnen</button>
  </form>
  <table id="tblTaetigkeiten">
      <tr>
      <th>Nr.</th><th>Von</th><th>Bis</th><th>Dauer in Min</th><th>Tätigkeit</th>
      </tr>
      
        </table>

        <ul>
          <% for(var i=0; i<taetigkeiten.length; i++) {%>
             <li><%= taetigkeiten[i].beschreibung %></li>
          <% } %>
          </ul>


        <input id=... name='text' ...>
  </body>
</html>