html {
    font-size: 20px;
    font-family: Arial;  
  }
  
  .taetigkeit {
    margin-top: 0.5em;
  }
  
  .taetigkeit > span:first-child {
    font-weight: bold
  }
  
  .taetigkeit > span:first-child:after {
    content:':'
  }
  
  .buttonDEL {
    background-color: rgb(83, 83, 83); 
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  h1 {
    text-transform: uppercase;
    color: #4CAF50;
  }
  
  h3 {
    text-transform: uppercase;
    color: #4CAF50;
  }
  
  #btnAnlegen {    
    border-radius: 2px;
    width:98vw;
    height: 30vw;   
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10vw; 
    margin: 4px 2px;
    cursor: pointer;
  }
  
  #btnAnlegen:hover {
    border-radius: 2px;
  }
  
  .buttonDelete {    
    border-radius: 2px;
    width:98vw;
    height: 30vw;  
    font-size: 10vw; 
  }
  
  .buttonDelete:hover {
    border-radius: 2px;
  }
  
  .buttonGeht {
    border-radius: 2px;
    background-color: #008CBA;
    width:98vw;
    height: 30vw;  
    font-size: 10vw; 
  }
  
  .buttonGeht:hover {
    background-color: #008CBA;
    color: white;
  }
  
  #tblTaetigkeiten {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #tblTaetigkeiten td, #tblTaetigkeiten th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #tblTaetigkeiten tr:nth-child(even){background-color: #f2f2f2;}
  
  #tblTaetigkeiten tr:hover {background-color: #ddd;}
  
  #tblTaetigkeiten th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(83, 83, 83);
    color: white;
  }
  
  #tbxBeschreibung{
    width:98vw;
    height: 30vw; 
    font-size:10vw;
    color:green
  }
  